.card{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #f5f5f5;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dlt{
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}